{% extends "dashboardNav.html" %}
{% block content %}
<html>
<head>
<title>Title of the document</title>
<style>
    .container{padding: 30px;}
</style>
</head>
<div>
    <h1>Your Plan</h1>
</div>
<body>
<p>{{workoutpic}}</p>
<div class = "container">
    <a href={{workoutlink}}>Link to workout sheet pdf file (download from here)</a>
</div>
<img src= "{{url_for('static', filename = workout )}}" alt="{{workout}}" width = "100%" height = "100%">
<div class = "container">
    <a href={{cardiolink}}>Link to cardio sheet pdf file (download from here)</a>
</div>
<img src= "{{url_for('static', filename = cardio )}}" alt="{{cardio}}" width = "100%" height = "100%">

</body>

{% endblock %}