{% extends "base.html" %}

{% block title %} Sign Up! {% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %} 
            <p> {{msg}}</p> 
            {% endfor %} 
        {% endif %}
    {% endwith %}
<form action = "#" method = "post">
    <p> Name:</p>
    <p><input type="text" name="nm" /></p>
    <p> Email:</p>
    <p><input type="email" name="email" value = "{{email if email}}"/></p>
    <p> Password:</p>
    <p><input type="text" name="password" /></p>



    <p><input type="submit" value= "Submit" /></p>
</form>
{% endblock %}